<launch>
    <arg name="veh"/>
    <arg name="AIDO_eval" default="false"/>
	<arg name="param_file_name" default="default"/>
	<arg name="pkg_name" default="object_detection" doc="name of the package"/>
	<arg name="node_name" default="object_detection_node" doc="name of the node"/>

    <node ns="$(arg veh)"  pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" required="true">
        <rosparam command="load" file="$(find object_detection)/config/$(arg node_name)/$(arg param_file_name).yaml"/>
        <param name="AIDO_eval" value="$(arg AIDO_eval)"/>
    </node>

</launch>
 
