[Desktop Entry]
Version=1.0
Type=Application
Name=Odometry
Comment=MOOC - Odometry
Exec=/usr/bin/launch-odometry.sh
Icon=/root/.icons/exercise-odometry.png
Terminal=true
X-KeepTerminal=true
StartupNotify=true
