[Desktop Entry]
Version=1.0
Type=Application
Name=PID Exercise
Comment=MOOC - PID - Exercise
Exec=/usr/bin/launch-pid-exercise.sh
Icon=/root/.icons/homework-icon.png
Terminal=true
X-KeepTerminal=true
StartupNotify=true